@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
}

html, body {
    background-color: darkgray;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
    font-family: 'Passion one';

}

header p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vh;

}

section.normal {
    background-color: white;
    color: black;


}

section.imagem {
    background-color: rgba(0, 0, 0, 0.64);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

/**
    background-color: black;
    background-image: url(/imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
**/




section.imagem  p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.304);
    
}

section > p {
    padding-bottom: 100px;
}



#fundo01.imagem {
    background-color: black;
    background-image: url(../imagens/background002.jpg);
   
    
}

#fundo02.imagem {
    background-color: black;
    background-image: url(../imagens/background002.jpg);
 
    
   
}



footer {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}